---
---

@import "clean-blog.css";
@import "_sass/variables";
@import "_sass/bootstrap/custom";
@import "_sass/utils";


html, body {
  height: 100%;
}

a {
  color: var(--bs-primary);
  text-decoration: none;

  &:hover {
    color: var(--bs-primary);
  }
}

code {
  color: var(--bs-primary);
}
