---
layout: default
title_: "Angular"
description: "Das umfassende Handbuch"
---

<div class="container-fluid bg-secondary text-white">
  <div class="container pt-xl pb-xl">
    <div class="row">
      <div class="col-md-4 pr-xl pb-l text-center text-md-start">
        <img class="img-fluid" src="img/cover.png">
      </div>
      <div class="col-md-8">
        <h1 class="headline-xl mb-s text-break">Angular -<br> Das umfassende Handbuch</h1>
        <p class="text-normal mb-s">Von Christoph Höller</p>
        <ul class="text-intro list-indented mb-l">
          <li>Angular-Webapplikationen professionell entwickeln</li>
          <li>Einführung, Praxis, Typescript und RxJS</li>
          <li>Formulare, Routing, HTTP-Anbindung, Animationen, i18n, reaktive Anwendungen, Performance Tuning</li>
        </ul>
        <a class="btn btn-invert mr-s mb-s"
           href="https://s3-eu-west-1.amazonaws.com/gxmedia.galileo-press.de/leseproben/5285/leseprobe_rheinwerk_angular_das-umfassende-handbuch.pdf"
           target="_blank">
          Leseprobe
        </a>
        <a class="btn btn-primary mb-s"
           href="https://www.rheinwerk-verlag.de/angular-das-umfassende-handbuch/?GPP=hoeller"
           target="_blank">
          Jetzt bestellen! <i class="fa fa-shopping-cart"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container pt-xl pb-xl">
    <p class="text-primary text-normal">Bonus-Kapitel als kostenfreies E-Book: </p>
    <h2 class="headline-l mb-s">Storybook: Komponenten unabhängig von Ihrer Anwendung entwickeln und dokumentieren </h2>
    <p class="text-normal mb-m">
      Storybook erlaubt es Ihnen, Angular-Komponenten unabhängig von einer aktuell laufenden Anwendung zu entwickeln, zu
      testen und ganz nebenbei auch noch zu dokumentieren. Insbesondere bei steigender Anwendungskomplexität oder bei
      der Entwicklung von wiederverwendbaren Bibliotheken kann das Ihre Entwicklung ungemein beschleunigen!
      <br>
      <br>
      Lernen Sie Storybook und Angular gemeinsam zu nutzen und Ihren Entwicklungs-Workflow zu optimieren!
    </p>
    <a class="btn btn-primary"
       target="_blank"
       href="/files/storybook_ebook.pdf">
      Kostenloser Download
    </a>
  </div>
</div>
<div class="container-fluid bg-secondary text-white">
  <div class="container pt-xl pb-xl">
    <div class="row">
      <div class="col-md-3 text-center text-md-start pb-l">
        <img class="img-fluid" src="img/christoph--cropped.jpg">
      </div>
      <div class="col-md-9">
        <p class="text-normal text-primary">Autor</p>
        <h2 class="headline-l">Christoph Höller</h2>
        <p class="text-intro">Christoph Höller unterstützt als Trainer und
          Berater seit über 14
          Jahren Kunden bei der Implementierung hochverfügbarer Unternehmensapplikationen sowie bei der Entwicklung von
          Webanwendungen auf Basis von Angular.</p>
        <p class="text-normal">Christoph Höller ist Geschäftsfuhrer der
          <a href="https://beyond-interfaces.de" target="_blank">beyond interfaces</a>
          in Köln. Seine Schwerpunkte liegen in der Arbeit mit Java-Enterprise-Technologien und deren Integration in die
          schöne neue Web-Welt. In seiner Freizeit finden Sie ihn wahrscheinlich auf einem Mountainbike im Wald oder mit
          seinem Bulli irgendwo in Europa.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container pt-xl pb-xl">
    {% include testimonials.html %}
  </div>
  <div class="container pb-xl">
    {% include chapter.html %}
  </div>
</div>
