<h2 class="headline-l mb-m">Kapitelübersicht</h2>
<div class="accordion accordion-flush" id="chapter-accordion">
  {% for chapter in site.chapter %}
    <div class="accordion-item">
      <h2 class="accordion-header"
          id="heading-{{ forloop.index }}">
        <button aria-controls="collapse-{{ forloop.index }}"
                aria-expanded="false"
                class="accordion-button collapsed fw-bold pb-l"
                data-bs-target="#collapse-{{ forloop.index }}"
                data-bs-toggle="collapse"
                type="button">
          <span class="headline-s fw-bolder">{{ chapter.title }}</span>
          {% if chapter.subtitle %}<span
              class="accordion-subheading text-normal fw-normal">{{ chapter.subtitle }}</span>{% endif %}
        </button>
      </h2>
      <div aria-labelledby="heading-{{ forloop.index }}"
           class="accordion-collapse collapse"
           data-bs-parent="#chapter-accordion"
           id="collapse-{{ forloop.index }}">
        <div class="accordion-body">
          {{ chapter.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
