<!-- Footer -->
<footer class="container-fluid bg-secondary">
  <div class="container pt-m pb-m d-flex align-items-center">
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x text-white"></i>
          <i class="fa fa-twitter fa-stack-1x text-secondary"></i>
        </span>
        <span class="d-none d-lg-inline-block mr-l text-white">@{{ site.twitter_username }}</span>
      </a>
    {% endif %}
    {% if site.facebook_username %}
      <a href="https://www.facebook.com/{{ site.facebook_username }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x text-white"></i>
          <i class="fa fa-facebook fa-stack-1x text-secondary"></i>
        </span>
        <span class="d-none d-lg-inline-block mr-l text-white">@{{ site.facebook_username }}</span>
      </a>
    {% endif %}
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x text-white"></i>
          <i class="fa fa-github fa-stack-1x text-secondary"></i>
        </span>
        <span class="d-none d-lg-inline-block mr-l text-white">@{{ site.github_username }}</span>
      </a>
    {% endif %}
    {% if site.email_username %}
      <a href="mailto:{{ site.email_username }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x text-white"></i>
          <i class="fa fa-envelope fa-stack-1x text-secondary"></i>
        </span>
        <span class="d-none d-lg-inline-block mr-l text-white">{{ site.email_username }}</span>
      </a>
    {% endif %}
    <a class="mx-auto" href="https://beyond-interfaces.de" target="_blank"><img
          src="/img/bif_logo--white.svg"></a>
    <a class="text-white text-decoration-underline" href="{{ site.baseUrl }}/impress">Impressum</a>
  </div>
</footer>
